body {
  background: rgb(252, 142, 179);
  font-size: 30px;
}
.navbar-brand {
  font-size: 30px;
}
.well {
  color: rgb(206, 7, 146);
  font-style: italic;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel-control-prev {
  background-image: url(img/left-arrow.svg);
}
.carousel-control-next {
  background-image: url(img/right-arrow.svg);
}
.carousel-control-prev,
.carousel-control-next {
  width: 20px;
}
.carousel-control-prev {
  left: -125px;
}
.carousel-control-next {
  right: -125px;
}
